.divTable { 
       display: table; 
       width: 100%; 
}
.divTableRow { 
       display: table-row; 
}
.divTableRow:nth-child(2n+1) {
	background-color: #EEE;
}   
.divTableCell { 
       border: 1px solid #999999; 
       display: table-cell; 
       padding: 3px 10px; 
} 
.divTableHead { 
       border: 1px solid #999999; 
       display: table-cell; 
       padding: 3px 10px; 
       font-weight: bold;
}
.divTableHeading { 
       background-color: #EEE; 
       display: table-header-group; 
       font-weight: bold; 
} 
.divTableFoot { 
       background-color: #EEE; 
       display: table-footer-group; 
       font-weight: bold; 
} 
.divDarkBackground {
       background-color: #EEE;
}
.divTableBody {\n 
       display: table-row-group; 
}
