<html>
<head>
<title>Access Denied Page</title>
</head>
<body>
<h1>Access Denied</h1>
You have reached this page as you are either not logged in or do not have the correct role.
<div sec:authorize="isAnonymous()">
You are not logged in
<a class="button login is-primary" th:href="@{/oauth2/authorization/cognito}">Log in with Amazon Cognito</a>
</div>
<div sec:authorize="${#authentication != null}">
<p>Hello, <strong th:text="${#authentication?.name}"></strong> You are currently logged in.</p>
<p>To logout press <a href="/logout">Logout</a></p>
</div>
<div sec:authorize="hasRole('MOCKINGBIRD_USER')" class="alert alert-primary" role="alert">
Using Role MOCKINGBIRD_USER
</div>
<div sec:authorize="!hasRole('MOCKINGBIRD_USER')" class="alert alert-primary" role="alert">
You do not have the MOCKINGBIRD_USER role on this user
</div>

<p>To return to the main application press <a href="/home">home</a></p> 
</body>
</html>