<html>
<head>
<title>Endpoint Mockingbird - Delete Mock Service Page</title>
<link rel="stylesheet" href="mock.css"/>
</head>
<body>
<h1><span th:text="${applicationName} + ' - Delete Page'"></span></h1>
<p>WireMock Service has deleted the record with id: <span id="${id}" th:name="${id}" th:text="${id}"></span></p>
<br/><br/>
<div>
<a href="/showmocks" id="return-link">Back</a>
</div>
</body>
</html>