<html lang="en">
<head>
<title>Endpoint Mockingbird - Error Occurred</title>
<link rel="stylesheet" href="mock.css"/>
</head>
<body>
    <h1>Error Occurred!</h1>    
    <b>[<span th:text="${status}">status</span>]
        <span th:text="${error}">error</span>
    </b>
    <p th:text="${message}">message</p>
    <div>
	<a href="/home" id="return-link">Home</a>
	</div>
</body>
</html>