<html>
<head>
<title>Home Page</title>
</head>
<body>
<h1><span th:text="${applicationName}"></span> <span th:text="${version}"></span></h1>
<p>This is the default landing page for <span th:text="${applicationName}"></span> </p>
<p>The main application can be found <a href="/showmocks">here</a></p>
<div sec:authorize="isAnonymous()">
You are not logged in
<a class="button login is-primary" th:href="@{/oauth2/authorization/cognito}">Log in with Amazon Cognito</a>
</div>
<div sec:authorize="${#authentication != null}">
<p>Hello, <strong th:text="${#authentication?.name}"></strong> You are currently logged in.</p>
<p>To logout press <a href="/logout">Logout</a></p>
</div>
<div sec:authorize="hasRole('MOCKINGBIRD_USER')" class="alert alert-primary" role="alert">
Using Role MOCKINGBIRD_USER
</div>

<h2>Instructions</h2>
<p>The aim of this application is for you to create endpoints to be used in testing applications. </p>
<p>The endpoints can play back a default response or a failure code (for example 404, 500) based on the endpoint and the data sent to it.</p>
<p>So you can have a happy path endpoint such as <strong>GET http://localhost:9999/myapplication/home</strong> replying with a 200 and some html or JSON</p>
<p>or an unhappy path such as <strong>GET http://localhost:9999/myapplication/home?data=failure</strong> which could return a 404 or 500</p>
<p>The application takes its name from the mockingbird that sings back or words back to you a set of responses</p>
<p>The main <strong>showmock</strong> page
displays the contents of the database you are connected to. You can add, edit, test or delete the mocks. When you use the database in the main
endpoint-mockingbird-runner, the run order is the order the mocks are created. This is important as you would want the general catch all endpoints
to be created last. </p>
<p>To proceed to the main application press <a href="/showmocks">main application</a></p> 
</body>
</html>