<html>
<head>
<title>Endpoint Mockingbird - Display Mock Services Page</title>
<link rel="stylesheet" href="mock.css"/>
</head>
<body>
<h1><span th:text="${applicationName} +' - Show Mocks Page'"></span></h1>
<div>
<a href="/home" id="return-link">Home</a>
</div><br/>
<div>Test Host:<input type="text" readonly th:value="${host}" id="host"> <a href="startall">Start All Mockingbirds</a> (starts all your mocks)</div><br/>
<div>Port to be used instead of DB value:<input type="text" readonly th:value="${port}" id="port"> (If blank use DB Value)</div><br/>
<div class="divTableBody">
	<div class="divTableRow">
		<div class="divTableHead divDarkBackground">Id</div>
		<div class="divTableHead divDarkBackground">Port</div>
		<div class="divTableHead divDarkBackground">Url</div>
		<div class="divTableHead divDarkBackground">Request</div>
		<div class="divTableHead divDarkBackground">Headers</div>
		<div class="divTableHead divDarkBackground">Response</div>
		<div class="divTableHead divDarkBackground">Type</div>
		<div class="divTableHead divDarkBackground">Code</div>
		<div class="divTableHead divDarkBackground">FileType</div>
		<div class="divTableHead divDarkBackground">RunOrder</div>
		<div class="divTableHead divDarkBackground">Update</div>
		<div class="divTableHead divDarkBackground">Delete</div>
		<div class="divTableHead divDarkBackground">Test</div>
	</div>
	<div class="divTableRow" th:each="wireMockService : ${wireMockServices}">
        <div class="divTableCell"><form method="get" action="update" th:id="update + ${wireMockService.id}"></form><span th:text="${wireMockService.id}"></span><input type="hidden" th:value="${wireMockService.id}" name="id" th:form="update + ${wireMockService.id}"/></div>
        <div class="divTableCell"><input type="text" size= "5" name="port" th:value="${wireMockService.port}" th:form="update + ${wireMockService.id}"/></div>
        <div class="divTableCell"><input type="text" name="url" th:value="${wireMockService.url}" th:form="update + ${wireMockService.id}"></div>
        <div class="divTableCell"><input type="text" size="50" name="httpJsonRequest" th:value="${wireMockService.httpJsonRequest}" th:form="update + ${wireMockService.id}"></div>
        <div class="divTableCell"><input type="text" size="80" name="httpJsonRequestHeaders" th:value="${wireMockService.httpJsonRequestHeaders}" th:form="update + ${wireMockService.id}"></div>
        <div class="divTableCell"><input type="text" size="50" name="httpJsonResponse" th:value="${wireMockService.httpJsonResponse}" th:form="update + ${wireMockService.id}"></div>
        <div class="divTableCell"><input type="text" size="5" name="httpRequestType" th:value="${wireMockService.httpRequestType}" th:form="update + ${wireMockService.id}"></div>
        <div class="divTableCell"><input type="text" size="5" name="httpResponseCode" th:value="${wireMockService.httpResponseCode}" th:form="update + ${wireMockService.id}"></div>
        <div class="divTableCell"><input type="text" size="5" name="httpResponseFileType" th:value="${wireMockService.httpResponseFileType}" th:form="update + ${wireMockService.id}"></div>
        <div class="divTableCell"><input type="text" size="5" name="runOrder" th:value="${wireMockService.runOrder}" th:form="update + ${wireMockService.id}"></div>
        <div class="divTableCell"><input value="Update" type="submit" th:form="update + ${wireMockService.id}"></div>
        <div class="divTableCell">
            <form method="get" action="delete" th:id="delete + ${wireMockService.id}">
                <input type="hidden" name="id" th:value="${wireMockService.id}" th:form="delete + ${wireMockService.id}"/>
                <input value="Delete" type="submit" th:form="delete + ${wireMockService.id}">
            </form>
        </div>
        <div class="divTableCell">
            <form method="get" action="showtest" th:id="test  + ${wireMockService.id}">
                <input type="hidden" name="id" th:value="${wireMockService.id}" th:form="test + ${wireMockService.id}"/>
                <input type="hidden" name="host" th:value="${host}" th:form="test + ${wireMockService.id}"/>
                <input value="Test" type="submit" th:form="test + ${wireMockService.id}">
            </form>
        </div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell"><form method="get" action="insert"></form>New Row</div>
        <div class="divTableCell"><input type="text" size= "5" name="port" value="9999" form="insert"/></div>
        <div class="divTableCell"><input type="text" name="url" value="" form="insert"></div>
        <div class="divTableCell"><input type="text" size="50" name="httpJsonRequest" value="" form="insert"></div>
        <div class="divTableCell"><input type="text" size="80" name="httpJsonRequestHeaders" value="" form="insert"></div>
        <div class="divTableCell"><input type="text" size="50" name="httpJsonResponse" value="" form="insert"></div>
        <div class="divTableCell"><input type="text" size="5" name="httpRequestType" value="GET" form="insert"></div>
        <div class="divTableCell"><input type="text" size="5" name="httpResponseCode" value="200" form="insert"></div>
        <div class="divTableCell"><input type="text" size="5" name="httpResponseFileType" value="application/json" form="insert"></div>
        <div class="divTableCell"><input type="text" size="5" name="runOrder" value="100" form="insert"></div>
        <div class="divTableCell">
            <form method="get" action="insert" id="insert">
                <input value="Insert" type="submit" form="insert">
            </form>
        </div>
    </div>
</div>
</body>
</html>