<html>
<head>
<title>Endpoint Mockingbird - Test Mock Service Page</title>
<link rel="stylesheet" href="mock.css"/>
</head>
<body>
<h1><span th:text="${applicationName} + ' - Test Mock Page'"></span></h1>

<p>Service under test</p>
<div class="divTableBody">
    <div class="divTableRow">
        <div class="divTableHead divDarkBackground">Id</div>
        <div class="divTableHead divDarkBackground">Port</div>
        <div class="divTableHead divDarkBackground">Url</div>
        <div class="divTableHead divDarkBackground">Request</div>
        <div class="divTableHead divDarkBackground">Headers</div>
        <div class="divTableHead divDarkBackground">Response</div>
        <div class="divTableHead divDarkBackground">Type</div>
        <div class="divTableHead divDarkBackground">Code</div>
        <div class="divTableHead divDarkBackground">FileType</div>
        <div class="divTableHead divDarkBackground">RunOrder</div>
    </div>
    <div class="divTableRow">
        <div name="wireMockServiceId" class="divTableCell"><span th:text="${wireMockService.id}"></span></div>
        <div class="divTableCell"><span th:text="${port}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.url}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.httpJsonRequest}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.httpJsonRequestHeaders}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.httpJsonResponse}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.httpRequestType}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.httpResponseCode}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.httpResponseFileType}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.runOrder}"></span></div>
    </div>
</div>
<br/><br/>

<p>Press the <strong>Run Test</strong> button to run the test shown above and see the results below.</p>
<div class="divTableCell">
    <form method="get" action="testmock" id="test">
        <div>Test Host:<input type="text" readonly th:value="${host}" id="host">
        <input value="Run Test" type="submit" form="test"> </div>
        <input type="hidden" name="id" th:value="${wireMockService.id}" form="test"/>
        <input type="hidden" name="host" th:value="${host}" form="test"/>
    </form>
</div>
<div th:if="${testaction == 'test'}">
    <h2>Test Mock Results:</h2>
	<div class="divTableBody">
	    <div class="divTableRow">
	        <div class="divTableHead divDarkBackground">Code</div>
	        <div class="divTableHead divDarkBackground">Response</div>
	    </div>
	    <div class="divTableRow">
	        <div name="testResult" class="divTableCell"><span th:text="${results.httpResponseCode}"></span></div>
	        <div class="divTableCell"><span th:text="${results.httpJsonResponse}"></span></div>
	    </div>
	</div>
</div>
<br/><br/>
<div>
<a href="/showmocks" id="return-link">Back</a>
</div>
</body>
</html>