<html>
<head>
<title>Endpoint Mockingbird - Update Mock Service Page</title>
<link rel="stylesheet" href="mock.css"/>
</head>
<body>
<h1><span th:text="${applicationName} + ' - Update Mock Page'"></span></h1>
<p>WireMock Service has been updated with the following: </p>
<div class="divTableBody">
    <div class="divTableRow">
        <div class="divTableHead divDarkBackground">Id</div>
        <div class="divTableHead divDarkBackground">Port</div>
        <div class="divTableHead divDarkBackground">Url</div>
        <div class="divTableHead divDarkBackground">Request</div>
        <div class="divTableHead divDarkBackground">Headers</div>
        <div class="divTableHead divDarkBackground">Response</div>
        <div class="divTableHead divDarkBackground">Type</div>
        <div class="divTableHead divDarkBackground">Code</div>
        <div class="divTableHead divDarkBackground">FileType</div>
        <div class="divTableHead divDarkBackground">Run Order</div>
    </div>
    <div class="divTableRow">
        <div name="wireMockServiceId" class="divTableCell"><span th:text="${wireMockService.id}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.port}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.url}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.httpJsonRequest}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.httpJsonRequestHeaders}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.httpJsonResponse}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.httpRequestType}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.httpResponseCode}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.httpResponseFileType}"></span></div>
        <div class="divTableCell"><span th:text="${wireMockService.runOrder}"></span></div>
    </div>
</div>
<div class="divTableCell">
	<form method="get" action="showtest" th:id="test  + ${wireMockService.id}">
	    <input type="hidden" name="id" th:value="${wireMockService.id}" th:form="test + ${wireMockService.id}"/>
	    <input type="hidden" name="host" th:value="${host}" th:form="test + ${wireMockService.id}"/>
	    <input value="Test" type="submit" th:form="test + ${wireMockService.id}">
	</form>
</div>

<br/><br/>
<div>
<a href="/showmocks" id="return-link">Back</a>
</div>
</body>
</html>